* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Background image by Vectonauta on Freepik
  https://www.freepik.com/free-vector/hazy-black-ink-texture-with-brushstrokes_18788390.htm
  */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,20,64,1) 50%, rgba(2,0,36,1) 100%);
  background-image: url("/images/background_alt.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 10px;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  position: relative;
  color: #f4f4f4;
  text-align: center;
  font-size: clamp(1rem, 1rem + 1.5vw, 2rem);
  overflow-x: hidden;
}

h1,
h2 {
  font-size: clamp(3rem, 2rem + 1.5vw, 4rem);
  line-height: 1.5;
  text-shadow: 0 0 20px #c1b5c9;
  margin: 0.5em auto;
  width: 60%;
  border-bottom: 1px solid #f4f4f4;
  text-align: center;
}

h3 {
  font-size: clamp(1.5rem, 1.25rem + 1.5vw, 2.5rem);
  line-height: 1.5;
  text-shadow: 0 0 20px #c1b5c9;
  margin: 0.5em 0;
}

li {
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 0.5em;
  text-shadow: 0 0 20px #2c282e;
}

body > section {
  padding-top: 2em;
  position: relative;
  padding-bottom: 5em;
  height: 100%;
}

.evidence-form-wrapper {
  padding: 1em 2em 2em;
}

#evidence-form {
  margin: 0 1.5em 1.5em;
  padding: 1em;
  gap: 1em;
  text-align: left;
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
  background-color: rgba(61, 53, 63, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 0.2em;
}

#reset {
  margin: 1em auto;
  height: fit-content;
  display: block;
  padding: 1em 2em;
  color: #f4f4f4;
  border-radius: 5%;
  border: none;
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
  background-color: rgba(103, 91, 107, 0.15);
}

.ghostsContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 2em;
}

.ghost {
  height: auto;
  width: 100%;
  border: 1px solid #1f1f1f;
  background-color: #181818;
  box-sizing: border-box;
  padding: 1em;
  box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 25%);
  background-color: rgb(228 228 228 / 5%);
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  backdrop-filter: blur(5px);
  border-radius: 0.2em;
}

.ghost > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
}

.ghost > div > h3 {
  width: 60%;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 0.5em;
}

.EMF5 {
  color: rgb(233, 102, 102);
}

.DOTs {
  color: #3bc552;
}

.ultraviolet {
  color: #b97bc5;
}

.freezingTemps {
  color: #88b2ce;
}

.ghostOrbs {
  color: #f1e5ce;
}

.writing {
  color: #c7997a;
}

.spiritBox {
  color: #e68231;
}

.evidence-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

label {
  border: 1px solid #444444;
  border-radius: 0.3em;
  padding: 1em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  flex-basis: 100%;
}

label input {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  display: block;
}

label span {
  height: 1em;
  width: 1em;
  border: 1px solid #6e6e6e;
  box-shadow: 0px 0px 10px 5px rgba(133, 133, 133, 0.3);
  display: block;
  margin: 0 auto 1em;
}

[type=checkbox]:checked + span {
  background: rgb(136, 21, 21);
}

.sanity {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  padding: 0.5em;
  width: 60%;
  margin-top: 0.5em;
}

.sanity > p {
  color: rgb(214, 146, 146);
}

.surprise {
  position: absolute;
  bottom: 0;
  right: 2em;
  width: 20vw;
  height: 10vh;
}

.surprise > img {
  width: 100%;
  transform-origin: center;
  animation: dance 5s ease-out infinite;
}

@keyframes dance {
  0% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-1turn);
  }
  60% {
    transform: rotateY(90deg);
  }
  90% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 768px) {
  h1,
  h2 {
    width: 70%;
  }

  #evidence-form {
    margin: 0 auto 2em;
    max-width: 80%;
  }

  label {
    flex-basis: 45%;
  }

  .ghost {
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 992px) {
  h1,
  h2 {
    width: 50%;
  }

  label {
    flex-basis: 30%;
  }

  .surprise {
    width: 10vw;
    height: 5vh;
  }
}

@media only screen and (min-width: 1200px) {
  h1,
  h2 {
    width: 30%;
  }

  label {
    flex-basis: 20%;
  }

  .ghost {
    flex-basis: 30%;
  }

  .surprise {
    width: 8vw;
    height: 3vh;
  }
}

@media only screen and (min-width: 1440px) {
  #evidence-form {
    max-width: 60%;
  }

  .surprise {
    width: 5vw;
    height: 2vh;
  }
}

@media only screen and (min-width: 1680px) {
  label {
    flex-basis: 12%;
  }
}